@import 'variables';

// problem 1 --
$primary-color: rgb(123, 84, 195);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: $primary-color;
}

.box {
    background-color: $primary-color;

    width: 380px;
    height: 540px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;
}

// button {
//     background-color: $primary-color;

//     margin-top: 2rem;
//     padding: 1rem 2rem;
//     border: none;
// }

// problem 2

//header öppnas
header {
    background-color: $primary-color;

    nav {

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 1rem 2rem;

                &:hover {
                    background-color: darkcyan;
                }
            }
        }
    }
}

//header stängs

@mixin kaksmet($bg-color, $text-color, $border-radius) {
    //grund recept
    padding: 1rem 2rem;
    font-size: 1.25rem;

    // justera utifrån vilken muffins vi vill göra
    background-color: $bg-color;
    color: $text-color;
    border-radius: $border-radius;

}

.blueberry {
    @include kaksmet(yellow, blue, 2rem)
}

.chocolate {
    @include kaksmet(rgb(53, 26, 26), rgb(171, 124, 76), 1rem)
}

.oreo {
    @include kaksmet(black, white, 0)
}

p {
    font-size: 13px;
}

@media only screen and (max-width:768px) {
    p {
        font-size: 16px;
    }
}

//problem 5

.fart {

    h1 {
        color: $color-1;
    }

    h2 {
        color: $color-2;
    }

    h3 {
        color: $color-3;
    }

}